<?xml version="1.0" encoding="utf-8"?>
<!-- 
  Andoku - a sudoku puzzle game for Android.
  Copyright (C) 2009  Markus Wiederkehr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.googlecode.andoku"
      android:versionCode="4"
      android:versionName="1.0.3">

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <permission android:name="com.googlecode.andoku.permission.IMPORT"
        android:label="@string/perm_label_import"
        android:description="@string/perm_description_import"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal"/>

    <application android:name=".Application" android:icon="@drawable/icon" android:label="@string/app_name">
        <provider android:name=".AndokuContentProvider"
                  android:authorities="com.googlecode.andoku.puzzlesprovider"
                  android:writePermission="com.googlecode.andoku.permission.IMPORT"/>

        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.NoBackground.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ResumeGameActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.NoBackground.Light"/>

        <activity android:name=".NewGameActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.NoBackground.Light"/>

        <activity android:name=".FolderListActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.NoBackground.Light"/>

        <activity android:name=".SettingsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.NoBackground.Light"/>

        <activity android:name=".HelpActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.NoBackground.Light"/>

        <activity android:name=".AndokuActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.NoBackground.Light"/>

        <activity android:name=".DisplayErrorActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.NoBackground.Light"/>
    </application>

</manifest> 
